#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#left_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
  height: 753px;
}