.item {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(17, 17, 17, 1);
}

.item .bg_stripes {
  position: absolute;
  top: 0;
  left: 0;
}

.item .Item_Text {
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter;
  font-size: 9px;
  color: rgba(255, 255, 255, 1);
}

.item .Item_Quantity {
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter;
  font-size: 9px;
  color: rgba(255, 161, 1, 1);
}