.item {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(17, 17, 17, 1);
}

.item .bg_stripes {
  position: absolute;
  top: 0;
  left: 0;
}

.item .Item_Text {
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter;
  font-size: 9px;
  color: rgba(255, 255, 255, 1);
}

.item .Item_Quantity {
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter;
  font-size: 9px;
  color: rgba(255, 161, 1, 1);
}

.react-contextmenu-wrapper {
  height: 100%;
}

.context_menu {
  z-index: 100;
  border-radius: 3px;
  background-color: rgb(62 62 62);
}

.context_item {
  padding: 5px 15px 5px 5px;
  cursor: pointer;
  font-size: 14px;
  color: white;
}

.context_item:focus {
  outline: none;
}

.context_item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}